body {
	margin: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 1000px;
	margin: auto;
	min-height: 100vh;
	background: orange;
	display: grid;
	gap: 30px;
	grid-template-rows: 70px 1fr 50px;
}
header, footer {
	background-color: #222;
	color:  #fff;
	padding: 0 30px;
	display: flex;
	align-items: center;
}
header {
	justify-content: space-between;
}
footer {
	justify-content: center;
}

h1, h2, h3 {
	margin: 0;
}

main {
	padding: 0 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: flex-start;
	gap: 30px;
}
.card {
	display: flex;
	flex-direction: column;
	gap:  20px;
	padding: 10px;
	border:  1px solid;
}
.card-pic {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #dedede;
	height: 180px;
}
.card h3 {
	text-align: center;
}

.popup-wrapper {
	position: fixed;
	top:  0;
	left:  0;
	right:  0;
	bottom:  0;
	background-color: #0008;
	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	width: 300px;
	padding: 20px;
	background-color: #fff;
	position: relative;
}
.popup__close {
	width: 30px;
	height: 30px;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:  pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}
.popup__close:hover {
	background-color: #222;
	color:  #fff;
	border-color: #222;
}
.popup__close::after {
	content: "\26CC";
}








